/exe/*
/code/*
/code/x64/*
/code/x64/Debug/*
/testbench/tidal_flume_farm/_post_processing/*
/testbench/tidal_flume_farm/*

*.his
*.map
*.user
*.pptex
*.suo
*.mod
*.obj
*.wrk
*.hda
*.hdf
*.lst
*.lsp
*.rtn
*.prn
*.out
*.nc
*.mon
